body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@media (min-width: 1500px) {
  #card {
    width: 820px;
    height: 650px;
  }

  #bluelineL {
    margin-left: -150px;
    width: 200px;
  }

  #bluelineR {
    /* visibility: hidden; */
    position: absolute;
    margin-left: 340px;
    width: 200px;
  }

  #bluelineR2 {
    visibility: hidden;
  }

  #recharger1 {
    width: 1586px;
  }

  #recharger2 {
    width: 876px;
  }
  #ftxt {
    position: relative;
    left: -300px;
  }

  #flag {
    position: relative;
    left: 100px;
  }
}

@media (max-width: 1499px) {
  #bluelineR2 {
    position: relative;
    margin-left: auto;
    width: 200px;
  }
  #bluelineR {
    visibility: hidden;
    width: 200px;
  }

  /* #recharger2 {
    width: 576px;
  } */
}

@media (min-width: 1260px) {
  /* #recharger2 {
    width: 576px;
  } */

  #txtflag {
    margin-top: 0px;
  }
}

@media (max-width: 1265px) {
  #card {
    width: 520px;
    height: 450px;
  }
}

@media (max-width: 1199px) {
  #recharger2 {
    height: 0px;
  }
}

@media (max-width: 790px) {
  #card {
    width: 520px;
    height: 450px;
  }
  /* #flag1 {
    width: 400px;
    height: 560px;
  } */
}

@media (max-width: 767px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 110px;
  }
  #txtflag {
    margin-top: 20px;
  }
  #flag1 {
    width: 260px;
    height: 460px;
  }
}

@media (max-width: 670px) {
  #card {
    width: 420px;
    height: 350px;
  }
}

@media (max-width: 575px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 125px;
  }
  #button1 {
    margin-top: 80px;
    margin-left: 5px;
  }
  #txtflag {
    margin-top: 95px;
  }
  #flag1 {
    width: 300px;
    height: 260px;
  }
}

@media (max-width: 554px) {
  /* #txtflag {
    margin-top: 85px;
  } */
}

@media (max-width: 435px) {
  #card {
    width: 310px;
    height: 250px;
  }

  #flag1 {
    width: 260px;
    height: 260px;
  }
}

@media (max-width: 368px) {
  #txtflag {
    margin-top: 55px;
  }
  #flag1 {
    width: 230px;
    height: 230px;
  }
}

@media (max-width: 332px) {
  #flag1 {
    width: 200px;
    height: 220px;
  }
}

.p-carousel-next-icon {
  color: #d71023;
  background-color: white !important;
  padding: 60px;
  border-radius: 10px;
}

.p-carousel-prev-icon {
  color: #d71023;
  background-color: white !important;

  padding: 60px;
  border-radius: 10px;
  margin-top: 2;
}

.p-carousel-indicators {
  visibility: hidden;
}

.p-items {
  visibility: visible !important;
}

.p-carousel-prev {
  transform: translateX(+50px) !important;
  z-index: 1;
}

.p-carousel-next {
  transform: translateX(-70px) !important;
  z-index: 1;
}

.p-carousel-items-content {
  /* visibility: visible; */
  /* background-color: rgb(0, 255, 68); */
  min-width: 100vw !important;
  opacity: 1;
}
.p-carousel-container {
  overflow: hidden;
  /* background-color: rgb(255, 0, 247); */
  transform: translateX(-48px);
  /* min-width: 110vw !important; */
  margin: 0;
  padding: 0;

  /* width: 110vw !important; */
}

.p-carousel-content {
  overflow: hidden !important;
  width: 101.6vw !important;
  /* background-color: blue; */
}

.p-items-hidden {
  /* display: block !important; */
  opacity: 1 !important;
  position: relative !important;
  top: 0;
  left: 0;
  /* display: none; */
}
/* .p-carousel-item {
  min-width: 0;
} */
/* @media (max-width: 480px) {
  .imagecarou {
    width: 200px;
  }
} */

#crypto1 {
  /* position: relative; */
  width: 100%;
  height: 70%;
  /* content: "";
  background: inherit;
  transform-origin: bottom right; */
  /* transform: skewy(4deg); */
  /* transform: skewx(3deg); */

  /* left: 0%;
  right: 0%;
  top: 70.2%;
  bottom: 21.66%; */
  /* z-index: -5; */
}

#button {
  background-color: #3c7bf9 !important;
}

#button1 {
  background-color: #3c7bf9 !important;
}

#rotate1 {
  transform: rotate(2deg);
}

#rotate2 {
  transform: rotate(-4deg);
  margin-top: -20px;
}

/* rotate 1 et 2 pour header CLIENT*/

/* #rotate3 {
}

#rotate4 {
  transform: rotate(-1.89deg);
} */
/* rotate 3 et 4 pour header RIDER*/

#rotate5 {
  transform: rotate(2.03deg);
}

#rotate6 {
  transform: rotate(-1.89deg);
}

/* rotate 5 et 6 pour header RESTORER*/

@media (max-width: 991px) {
  #navbar {
    background: rgba(10, 22, 57, 0.7);
    backdrop-filter: blur(10px);
    opacity: 85%;
    position: fixed;
    width: 100%;
    z-index: 1;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
  }

  #buttonnav {
    background-color: #3c7bf9;
  }

  #bluelineR2 {
    visibility: hidden;
  }
  #bluelineR {
    visibility: visible;
  }

  #txtflag {
    margin-top: 50px;
  }
}

@media (max-width: 1600px) {
  #navtitle {
    margin-left: 50px;
    width: px;
  }
}

.p-button {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 1200px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 173px;
  }
}

@media (max-width: 1200px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 143px;
  }
}

@media (max-width: 991px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 67px;
  }
  #bluelineR {
    margin-left: 80px;
    width: 100px;
  }
  #bluelineR2 {
    width: 100px;
  }
  /* #bluelineL {
    width: 100px;
  } */
}

/* p-carousel-item p-carousel-item-active p-carousel-item-start */

/* p-carousel-item p-carousel-item-active p-carousel-item-start */

/* carouselDemo_productitem__eaYg_ */
