.diagonal {
  position: relative;
  width: 100%;
  height: 500px;
  background: #0a1639;
  /* background-image: url('/public/assets/Stats.png'); */
  z-index: -1;
  margin-top: -250px;
}
.diagonal::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: inherit;
  transform-origin: bottom right;
  transform: skewy(4deg);
  z-index: -1;
}

.backgroundBlue {
  background-color: #0a1639;
  /* min-height: 285px; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 25%);
  /* position: absolute; */
  height: 185px;
  z-index: 3000;
}

.globalContainer {

  /* min-height: 526px; */
}

.cryptoContainer {
  min-height: 526px;
  background-image: url('/assets/Stats.png');
  background-repeat: none;
  background-size: cover;
}

.titleContainer {
  position: absolute;
  top: 72px;
  left: 67px
}

/* @media (max-width: 1080px) {
  .tel1 {
    width: 100px;
  }
} */
