/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

body {
  margin: 0;
  padding: 0;
}

.p-carousel-next-icon {
  color: #d71023;
  background-color: white !important;
  padding: 60px;
  border-radius: 10px;
}

.p-carousel-prev-icon {
  color: #d71023;
  background-color: white !important;

  padding: 60px;
  border-radius: 10px;
  margin-top: 2;

}

.p-carousel-indicators {
  visibility: hidden;
}

.p-items {
  visibility: visible !important;
}

.p-carousel-items-content {
  visibility: visible;
}

/* .p-carousel-item {
  min-width: 0;
} */
/* @media (max-width: 480px) {
  .imagecarou {
    width: 200px;
  }
} */
#button {
  background-color: #3c7bf9 !important;
}

#button1 {
  background-color: #3c7bf9 !important;
}

#rotate1 {
  transform: rotate(2deg);
}

#rotate2 {
  transform: rotate(-4deg);
}

/* rotate 1 et 2 pour header CLIENT*/

#rotate5 {
  transform: rotate(2.03deg);
}

#rotate6 {
  transform: rotate(-1.89deg);
}
/* rotate 3 et 4 pour header RIDER*/

#rotate5 {
  transform: rotate(2.03deg);
}

#rotate6 {
  transform: rotate(-1.89deg);
}

/* rotate 5 et 6 pour header RESTORER*/

@media (max-width: 575px) {
  #button1 {
    margin-top: 80px;
    margin-left: 5px;
  }
}

@media (max-width: 991px) {
  #navbar {
    background: rgba(10, 22, 57, 0.7);
    backdrop-filter: blur(10px);
    opacity: 85%;
    position: fixed;
    width: 100%;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
  }

  #buttonnav {
    background-color: #3c7bf9;
  }
}

.p-button {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 1200px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 173px;
  }
}

@media (max-width: 1200px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 143px;
  }
}

@media (max-width: 991px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 67px;
  }
}

@media (max-width: 767px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 110px;
  }
}

@media (max-width: 575px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 125px;
  }
}








/* p-carousel-item p-carousel-item-active p-carousel-item-start */

/* p-carousel-item p-carousel-item-active p-carousel-item-start */



/* carouselDemo_productitem__eaYg_ */