body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.videoClient_diagonal__s1wRV {
  position: relative;
  width: 100%;
  height: 800px;
  background: #0a1639;
  z-index: -1;
  margin-top: 100px;
}

@media (min-width: 1900px) {
  #flag {
    margin-left: 200px !important;
  }
}
@media (min-width: 1800px) {
  .bluerider {
    padding-bottom: 90px;
  }
  #inputinfos {
    width: 1100px !important;
  }
  #infosbtn {
    width: 1100px !important;
  }
  #inputitle {
    margin-top: 50px !important ;
  }
  #liv1 {
    width: 200px !important;
  }

  #txtchx1 {
    font-size: 50px !important;
  }
}

@media (min-width: 1500px) {
  #card {
    width: 820px;
    height: 650px;
  }

  #bluelineL {
    margin-left: -150px;
    width: 200px;
  }

  #bluelineR {
    /* visibility: hidden; */
    position: absolute;
    margin-left: 340px;
    width: 200px;
  }

  #bluelineC {
    /* visibility: hidden; */
    position: absolute;
    margin-left: 410px;
    width: 200px;
  }

  #bluelineR2 {
    visibility: hidden;
  }

  #recharger1 {
    width: 1500px;
  }

  #recharger2 {
    width: 806px;
  }
  #ftxt {
    position: relative;
    left: -300px;
  }

  #flag {
    position: relative;
    left: 10px;
  }

  #caroublue {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transform: skew(0deg, 5deg);
    top: -110px;
    left: 0px;
    z-index: -2;
    position: relative;
    margin-top: -30px !important ;
  }

  #inputinfos {
    width: 850px;
  }

  #infosbtn {
    width: 850px;
  }
  #txtflag {
    margin-top: 30px !important;
  }

  #And2 {
    margin-left: 150px;
    white-space: nowrap;
  }

  #txtFr {
    margin-left: 200px;
  }

  #inputclient {
    margin-top: -170px;
    border-color: #3c7bf9;
  }

  #cardclient {
    margin-top: -400px !important ;
  }
  #btndevenir {
    z-index: 1;
    margin-top: 0px !important;
  }
  #cardliv1 {
    margin-top: 150px;
  }
}

@media (max-width: 1499px) {
  .bluerider {
    padding-bottom: 40px !important;
  }
  #bluelineR2 {
    position: relative;
    margin-left: auto;
    width: 200px;
  }
  #bluelineR {
    width: 200px;
    margin-left: auto;
  }

  #imgverti {
    width: 120px !important;
  }

  #bluelineC {
    visibility: visible !important;
    width: 200px;
    margin-left: 25px;
  }

  #caroublue {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transform: skew(0deg, 5deg);
    top: -110px;
    left: 0px;
    z-index: -2;
    position: relative;
    margin-top: -30px !important ;
  }

  #inputinfos {
    width: 820px;
  }

  #infosbtn {
    width: 820px;
  }
  #txtflag {
    margin-top: 30px !important;
  }

  #And2 {
    margin-left: 150px;
    white-space: nowrap;
  }

  #txtFr {
    margin-left: 200px;
  }
  #inputclient {
    margin-top: -170px;
    border-color: #3c7bf9;
  }

  #inputitle {
    margin-top: 100px !important ;
  }
  #cardliv1 {
    margin-top: 150px;
  }
}

@media (min-width: 1381px) {
  #inputitle {
    margin-top: 95px;
  }
}
@media (min-width: 1260px) {
  #containercarou {
    margin-top: -250px !important;
  }

  #txtflag {
    margin-top: 0px;
  }
}
@media (min-width: 1200px) {
  .bluerider {
    padding-bottom: px !important ;
  }
}

@media (max-width: 1315px) {
  #And2 {
    margin-left: 150px;
    white-space: nowrap;
  }

  #txtFr {
    margin-left: 200px;
  }
}

@media (max-width: 1265px) {
  #card {
    width: 520px;
    height: 450px;
  }
  #txtflag {
    margin-top: 50px !important;
  }

  #And2 {
    margin-left: 150px;
    white-space: nowrap;
  }

  #txtFr {
    margin-left: 200px;
  }
}

@media (max-width: 1199px) {
  #recharger2 {
    height: 0px;
  }
  #inputitle {
    margin-top: 78px !important;
  }

  #And2 {
    margin-left: 20px;
  }

  #txtFr {
    margin-left: 230px;
  }
}

@media (min-width: 992px) {
  #colortxt {
    color: white !important;
  }
  #containercarou {
    margin-top: -220px !important;
  }
}

@media (min-width: 791px) {
  #containercarou {
    margin-top: -35px !important;
  }
  #remutitle575 {
    margin-top: 110px;
  }
}

@media (max-width: 790px) {
  #card {
    width: 520px;
    height: 450px;
  }
  #txtflag {
    margin-top: 60px !important;
  }
  #remutitle575 {
    margin-top: 110px;
  }
}

@media (max-width: 767px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 110px;
  }
  #txtflag {
    margin-top: 70px !important;
  }
  #flag1 {
    width: 260px;
    height: 460px;
  }
  #remutitle575 {
    margin-top: 110px;
  }
}

@media (max-width: 670px) {
  #card {
    width: 420px;
    height: 350px;
  }

  #remutxt {
    color: #0a1639 !important;
  }
}

@media (max-width: 575px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 125px;
  }
  #button1 {
    margin-top: 80px;
    margin-left: 5px;
  }
  #txtflag {
    margin-top: 95px;
  }
  #flag1 {
    width: 300px;
    height: 260px;
  }

  #livraison {
    margin-top: 200px !important;
  }

  #remutitle575 {
    margin-top: 150px;
  }

  #bluelineCL {
    margin-left: 45px;
  }

  #bluelineR {
    margin-left: 45px !important;
  }

  #titleLiv {
    margin-left: 10px !important;
  }

  #underblue1 {
    margin-left: 10px !important;
  }

  #titleCli {
    margin-left: 10px !important;
  }
}

@media (min-width: 436px) {
  #livraison {
    color: white !important;
  }
}

@media (max-width: 435px) {
  #card {
    width: 310px;
    height: 250px;
  }

  #flag1 {
    width: 260px;
    height: 260px;
  }

  #livraison {
    margin-left: -70px;
    color: white !important;
  }

  #remuneration {
    margin-top: 120px;
    margin-left: -70px;
  }
  #remutxt {
    color: #0a1639 !important;
    margin-top: 20px !important;
  }
}

@media (max-width: 368px) {
  #txtflag {
    margin-top: 55px;
  }
  #flag1 {
    width: 230px;
    height: 230px;
  }
}

@media (max-width: 332px) {
  #flag1 {
    width: 200px;
    height: 220px;
  }
  #livraison {
    margin-left: -70px;
  }
  #remuneration {
    margin-top: 90px;
    margin-left: -70px;
  }
  #remutxt {
    color: #0a1639 !important;
  }
}

.p-carousel-next-icon {
  color: #d71023;
  background-color: white !important;
  padding: 60px;
  border-radius: 10px;
}

.p-carousel-prev-icon {
  color: #d71023;
  background-color: white !important;

  padding: 60px;
  border-radius: 10px;
  margin-top: 2;
}

.p-carousel-indicators {
  visibility: hidden;
}

.p-items {
  visibility: visible !important;
}

.p-carousel-items-content {
  visibility: visible;
}

#crypto {
  /* position: relative; */
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;

  position: relative;
  transform: skew(0deg, 5deg);
  transform: skewY(-2deg);
  top: -50px;
  left: 0px;
}

#button {
  background-color: #3c7bf9 !important;
}

#button1 {
  background-color: #3c7bf9 !important;
}

#rotate1 {
  transform: rotate(2deg);
}

#rotate2 {
  transform: rotate(-4deg);
  margin-top: -20px;
}

#rotate3 {
  position: absolute;
  margin-top: -16px;
}

/* rotate 1 et 2 pour header CLIENT*/

/* #rotate3 {
}

#rotate4 {
  transform: rotate(-1.89deg);
} */
/* rotate 3 et 4 pour header RIDER*/

#rotate5 {
  transform: rotate(2.03deg);
}

#rotate6 {
  transform: rotate(-1.89deg);
}

/* rotate 5 et 6 pour header RESTORER*/

@media (max-width: 991px) {
  #navbar {
    background: rgba(10, 22, 57, 0.7);
    backdrop-filter: blur(10px);
    opacity: 85%;
    position: fixed;
    width: 100%;
    z-index: 1;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
  }

  #sidebar {
    background: rgba(10, 22, 57, 0.7);
    backdrop-filter: blur(10px);
    opacity: 95%;
    position: fixed;
    width: 100%;
    z-index: 1;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
  }

  #buttonnav {
    background-color: #3c7bf9;
  }

  #bluelineR2 {
    visibility: hidden;
  }
  #bluelineR {
    visibility: visible;
  }
  #bluelineC {
    visibility: visible;
  }

  #txtflag {
    margin-top: 85px;
  }

  #containercarou {
    margin-top: 0px;
  }

  .align-content-around {
    margin-top: -550px !important;
  }

  #txtLiv {
    color: #fff;
  }
}

.p-button {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 2580px) {
  .bluerider {
    border-bottom: solid;
    /* padding-bottom: 173px; */
  }
}
@media (max-width: 1600px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 85px;
  }

  #navtitle {
    margin-left: 50px;
  }
  #inputinfos {
    width: 810px;
    margin-left: -10px;
  }
  #infosbtn {
    width: 810px;
    margin-left: -10px;
  }

  #inputitle {
    margin-top: 55px;
  }
}

@media (max-width: 1200px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 45px !important;
  }
  #inputinfos {
    width: 650px;
    margin-left: -10px;
  }
  #infosbtn {
    width: 650px;
    margin-left: -10px;
  }

  #inputitle {
    margin-top: 175px !important;
  }
  #cardliv1 {
    margin-top: 100px;
  }
}

@media (max-width: 991px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 47px;
  }
  #bluelineR {
    margin-left: 80px;
    width: 100px;
  }
  #bluelineC {
    margin-left: 80px;
    width: 100px;
  }
  #bluelineR2 {
    width: 100px;
  }
  #inputinfos {
    width: 710px;
    /* margin-left: -10px; */
  }
  #infosbtn {
    width: 710px;
    /* margin-left: -10px; */
  }

  #inputitle {
    margin-top: 0px !important;
  }
  #livraison {
    color: #0a1639;
  }
  #caroublue {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transform: skew(0deg, 5deg);
    top: -110px;
    left: 0px;
    z-index: -2;
    position: relative;
    margin-top: -30px !important ;
  }
  .bluerider {
    border-bottom: solid;
    padding-bottom: 45px !important;
  }

  #cardliv1 {
    margin-top: 600px;
  }
  #cardliv2 {
    margin-top: 700px;
  }

  #restcard {
    margin-top: 600px;
  }
}

@media (max-width: 767px) {
  #caroublue {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transform: skew(0deg, 5deg);
    top: -110px;
    left: 0px;
    z-index: -2;
    position: relative;
    margin-top: -30px !important ;
  }
  .bluerider {
    border-bottom: solid;
    padding-bottom: 90px !important;
  }
}

@media (max-width: 720px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 92px;
  }
  #inputinfos {
    width: 520px;
  }

  #infosbtn {
    width: 520px;
  }
  .bluerider {
    border-bottom: solid;
    padding-bottom: 90px !important;
  }
}
@media (max-width: 575px) {
  #caroublue {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transform: skew(0deg, 5deg);
    top: -110px;
    left: 0px;
    z-index: -2;
    position: relative;
    margin-top: -30px !important ;
  }
}

@media (max-width: 528px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 93px;
  }
  #inputinfos {
    width: 420px;
  }

  #infosbtn {
    width: 420px;
  }
  #caroublue {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transform: skew(0deg, 5deg);
    top: -110px;
    left: 0px;
    z-index: -2;
    position: relative;
    margin-top: -30px !important ;
  }
}
@media (max-width: 474px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 92px;
  }
  .p-carousel-indicators {
    visibility: hidden;
  }

  .p-items {
    visibility: visible !important;
  }

  .p-carousel-prev {
    transform: translateX(+50px) !important;
    z-index: 1;
  }

  .p-carousel-next {
    transform: translateX(-700px) !important;
    z-index: 1;
  }

  .p-carousel-items-content {
    /* background-color: rgb(0, 255, 68); */
    min-width: 100vw !important;
    opacity: 1;
  }
  .p-carousel-container {
    overflow: hidden;
    /* background-color: rgb(255, 0, 247); */
    transform: translateX(-48px);
    width: 1120px;
    margin: 0;
    padding: 0;
  }

  .p-carousel-content {
    overflow: hidden !important;
    width: 100vw !important;
    /* background-color: blue; */
  }

  .p-items-hidden {
    opacity: 1 !important;
    position: relative !important;
    top: 0;
    left: 0;
  }
  #caroublue {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transform: skew(0deg, 5deg);
    top: -110px;
    left: 0px;
    z-index: -2;
    position: relative;
    margin-top: -30px !important ;
  }
}

@media (max-width: 425px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 60px;
  }
  .p-carousel-prev {
    transform: translateX(+50px) !important;
    z-index: 1;
  }

  .p-carousel-next {
    transform: translateX(-650px) !important;
    z-index: 1;
  }

  #inputinfos {
    width: 320px;
  }

  #infosbtn {
    width: 320px;
  }
}

@media (max-width: 424px) {
  .p-carousel-prev {
    transform: translateX(+40px) !important;
    z-index: 1;
  }

  .p-carousel-next {
    transform: translateX(-700px) !important;
    z-index: 1;
  }
  #caroublue {
    width: 100%;
    height: 180px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transform: skew(0deg, 20deg);
    top: 0px;
    left: 0px;
    margin-top: -130px !important;
  }
}

@media (max-width: 375px) {
  .p-carousel-prev {
    transform: translateX(+50px) !important;
    z-index: 1;
  }

  .p-carousel-next {
    transform: translateX(-700px) !important;
    z-index: 1;
  }
  #caroublue {
    width: 100%;
    height: 180px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transform: skew(0deg, 20deg);
    top: 0px;
    left: 0px;
    margin-top: -120px !important;
  }
  .bluerider {
    border-bottom: solid;
    padding-bottom: 60px !important;
  }
}
@media (max-width: 350px) {
  #caroublue {
    width: 100%;
    height: 180px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transform: skew(0deg, 27deg);
    top: 0px;
    left: 0px;
    margin-top: -120px !important;
  }
}

@media (max-width: 374px) {
  .p-carousel-prev {
    transform: translateX(+50px) !important;
    z-index: 1;
  }

  .p-carousel-next {
    transform: translateX(-700px) !important;
    z-index: 1;
  }
}

@media (max-width: 370px) {
  .p-carousel-prev {
    transform: translateX(+50px) !important;
    z-index: 1;
  }

  .p-carousel-next {
    transform: translateX(-700px) !important;
    z-index: 1;
  }

  #inputinfos {
    width: 310px;
    margin-left: -10px;
  }
  #infosbtn {
    width: 310px;
    margin-left: -10px;
  }

  #inputitle {
    margin-top: 0px;
  }
}

@media (max-width: 369px) {
  .p-carousel-prev {
    transform: translateX(+50px) !important;
    z-index: 1;
  }

  .p-carousel-next {
    transform: translateX(-750px) !important;
    z-index: 1;
  }

  #bluelineR {
    visibility: visible;
  }

  #bluelineCL {
    margin-left: 45px;
  }

  #bluelineC {
    margin-left: 45px;
  }
}
@media (max-width: 320px) {
  .bluerider {
    border-bottom: solid;
    padding-bottom: 60px !important;
  }
}
@media (min-width: 320px) {
  #btndevenir {
    z-index: 1;
  }
  #rotate6 {
    transform: rotate(-1.89deg);
    margin-top: -20px;
    margin-left: 40px;
  }
}

/* p-carousel-item p-carousel-item-active p-carousel-item-start */

/* p-carousel-item p-carousel-item-active p-carousel-item-start */

/* carouselDemo_productitem__eaYg_ */
